<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Tarefas
    </ion-title>
  </ion-toolbar>

  <style>
    input[type="checkbox"] {
      transform: scale: 2.0;
    }
  </style>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarefas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Organize suas tarefas e torne-se mais organizado(a) e produtivo(a).
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ul>
      <h2>
        Lista de Tarefas
      </h2>

      
    </ul>
  </ion-list>
</ion-content>
