<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Tarefas
    </ion-title>
  </ion-toolbar>

  <style>
    input[type="checkbox"] {
      transform: scale: 2.0;
    }
  </style>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarefas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Organize suas tarefas e torne-se mais organizado(a) e produtivo(a).
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ul>
      <h2>
        Lista de Tarefas
      </h2>

      <li>
        <input type="checkbox" id="tarefa1" name="tarefa1">
        <label for="tarefa1">Tarefa 1</label>
      </li>
      <li>
        <input type="checkbox" id="tarefa2" name="tarefa2">
        <label for="tarefa 2">Tarefa 2</label>
      </li>
      <li>
        <input type="checkbox" id="tarefa3" name="tarefa3">
        <label for="tarefa3">Tarefa 3</label>
      </li>
      <li>
        <input type="checkbox" id="tarefa3" name="tarefa3">
        <label for="tarefa3">Tarefa 4</label>
      </li>
      <li>
        <input type="checkbox" id="tarefa3" name="tarefa3">
        <label for="tarefa3">Tarefa 5</label>
      </li>
    </ul>
  </ion-list>
</ion-content>
