/* Add application styles & imports to this file! */
@import "~@ionic/angular/css/ionic.bundle.css";

.titulo{
  text-align: center;
}

:root {
  --ion-font-family: 'Varela Round', sans-serif;

  /* barra superior */
  --ion-toolbar-background: #5e466d;
  --ion-toolbar-color: #ffffff;

  --ion-background-color: linear-gradient(180deg, #c8c0c0 0%, #af93cc 100%);

  /* barra inferior */
  --ion-tab-bar-background: #5e466d;
  --ion-tab-bar-color: #ffffff;
  --ion-tab-bar-color-selected: #391e4b;

  --ion-text-color: #391e4b;
  --ion-text-color-rgb: 255,255,255;

  --ion-card-background: #e3ceef;
}

.conteudo{
  max-width: 500-px;
  margin: auto;
  text-align: center;
}

.cadastro{
  max-width: auto;
  margin: auto;
  text-align: left;
}