<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class= "conteudo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Diário</ion-card-title>
      </ion-card-header>

      <ion-card-content>
      No diário, você pode organizar sua rotina e torna-se mais organizado(a), crie seu perfil e explore as funcionalidades do nosso app.
      </ion-card-content>
    </ion-card>

    <ion-item button detail="false" [routerLink]="['/tabs/tab3']">
      <ion-label>
        <h3>Meu Perfil</h3>
        <p>Visualize seu perfil ao final da página.</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="false" [routerLink]="['/tabs/tab3']">
      <ion-label>
        <h3>Cadastre-se</h3>
        <p>Crie um novo perfil pessoal e registre suas tarefas.</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="false" [routerLink]="['/tabs/tab2']">
      <ion-label>
        <h3>Organize-se</h3>
        <p>Crie, exclua e edite suas tarefas de forma prática e fácil.</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
